/******************************************************************************/
/* Overview */
/******************************************************************************/

/* Center align headers */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.divider {
  margin: 1em 0;
  border-bottom: 1px solid #969696;
}

/* General mobile-friendly adjustments */
body {
  max-width: 900px; /* Adjust the maximum width for the content container */
  margin: 0 auto; /* Center the content horizontally */
  line-height: 1.6;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 900px; /* Adjust the maximum width for the content container */
  margin: 0 auto;
  padding: 0 15px; /* Adjust padding for smaller screens */
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

table th, table td {
  padding: 0.5em;
  border: 1px solid #ddd;
  text-align: left;
}

/* Responsive layout adjustments */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  table, th, td {
    font-size: 0.9em;
  }
}

/* Adjusting code blocks for mobile */
pre {
  white-space: pre-wrap;       /* CSS3 */
  white-space: -moz-pre-wrap;  /* Firefox */
  white-space: -pre-wrap;      /* Opera <7 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* IE */
}

/* Navigation adjustments for mobile */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: #575757;
}

/* Footer adjustments for mobile */
footer {
  text-align: center;
  padding: 1em 0.5em; /* Add more padding for better spacing */
  background-color: #333;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* add fonts*/
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/Graphik.ttf");
}
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/GraphikBold.ttf");
  font-weight: bold;
}


/* remove rounded edges everything */
*{
  border-radius: 0!important;
}

/* change font throughout website */
html,
body {
  font-family: 'Graphik', sans-serif;
  color: black!important;
}

.nav-tabs {
  border-bottom: 1px solid #fff;
  justify-content: center;
  background-color: #fff;
  text-align:center;
  font-family: Graphik;
}

.tab-content {
  border: none; /* remove border around box */
}


/* General style for all tabs */
.panel-tabset {
    /*border: 1px solid #ddd;
    border-radius: 5px;*/
}

/* Default state for tabs */
.nav-pills .nav-link {
    color: black; /* Set default color to black */
}

/* Active state for tabs */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white; /* Set active color to white */
}

/* Specific style for .nav-pills tabs */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: black;
}

/* Specific height for tabs in the first .panel-tabset */
.nav-pills .tab-content .tab-pane {
    height: 1200px;
}

/* Specific style for the default .panel-tabset tabs */
.panel-tabset > .nav-link.active, .panel-tabset > .show > .nav-link {
    color: #fff;
    background-color: black;
}

/* Specific height for tabs in the second .panel-tabset */
.panel-tabset .tab-content .tab-pane {
    height: 1200px;
}

#narrow-section {
  max-width: 750px;
  margin: 0 auto; /* Center the narrow section horizontally */
  text-align: center; /* Center align text inside the narrow section */
}

#map-section {
  max-width: 1200px;
  margin: 0 auto; /* Center the narrow section horizontally */
  text-align: left; /* Center align text inside the narrow section */
}

/* highlights at the top of state report */
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
}

/* highlighted text underneath state name*/
#highlight-text {
  font-size: 2.5em;
  font-family: Graphik;
  font-weight: bold;
  color: #49a7a1;
  text-align: center;
}

/* highlighted text on national trend page*/
#national-highlight {
  font-size: 1.5em;
  font-family: Graphik;
  font-weight: bold;
  color: #49a7a1;
  text-align: left;
}

/* bold app text */
#bold-text {
  font-size: 0.9em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black
}




















/* Specific style for .tab1 tabs */
.tab1 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab1 .nav-link.active, .tab1 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}
/* Specific height for tabs in .tab1 */
.tab1 .tab-content .tab-pane {
    height: 500px;
}





/* Specific style for .tab2 tabs */
.tab2 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab2 .nav-link.active, .tab2 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in .tab2 */
.tab2 .tab-content .tab-pane {
    height: 450px;
}






/* Specific style for .tab3 tabs */
.tab3 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab3 .nav-link.active, .tab3 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in .tab3 */
.tab3 .tab-content .tab-pane {
    height: 500px;
}





/* Specific style for tab4 tabs */
.tab4 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab4 .nav-link.active, .tab4 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in tab4 */
.tab4 .tab-content .tab-pane {
    height: 950px;
}




/* Specific style for tab5 tabs */
.tab5 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab5 .nav-link.active, .tab5 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in tab5 */
.tab5 .tab-content .tab-pane {
    height: 800px;
}



/* Specific style for tab6 tabs */
.tab6 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab6 .nav-link.active, .tab6 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in tab6 */
.tab6 .tab-content .tab-pane {
    height: 700px;
}


/* Specific style for tab7 tabs */
.tab7 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
}
.tab7 .nav-link.active, .tab7 .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in tab7 */
.tab7 .tab-content .tab-pane {
    height: 900px;
}


/* Specific style for tab8 tabs */
  .tab8 .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
  }
.tab8 .nav-link.active, .tab8 .show>.nav-link {
  color: #fff;
    background-color: gray;
  font-size: .9em;
  border: 1px solid gray;
  padding-bottom: 0.1em;
}

/* Specific height for tabs in tab8 */
  .tab8 .tab-content .tab-pane {
    height: 450px;
  }


/* Specific style for tabmap tabs */
.tabmap .nav-link {
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
    color: black;
  }
.tabmap .nav-link.active, .tabmap .show>.nav-link {
    color: #fff;
    background-color: gray;
    font-size: .9em;
    border: 1px solid gray;
    padding-bottom: 0.1em;
}

/* Specific height for tabs in tabmap */
.tabmap .tab-content .tab-pane {
    height: 500px;
}









/******************************************************************************/
/* Menu items (not a part of tool) */
/******************************************************************************/

.navbar {
  background-color: black;
  color: #fff;
  border-radius: 0;
  height: 60px;
  font-size: 1em;
}

.navbar-brand {
  font-size: 1.2em;
  color: #fff;
  font-weight: bold;
}

.navbar-nav li {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.navbar-nav li a {
  color: #fff;
  font-size: 1em;
}

.navbar-nav li a:hover {
  background-color: #49a7a1;
  color: #fff;
}









/**********************************************/
/* Text styling */
/**********************************************/

/* title of website pages */
.title {
  font-size: 2.5em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* title of section under tabs */
#big-section-title {
  font-size: 1.8em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black;
  border-bottom: 6px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#medium-section-title {
  font-size: 1.2em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black;
  /*width: 75%;*/
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#visualization-header {
  font-size: 1.2em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black;
}

#graph-title {
  font-size: 1em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* regular app text */
#regular-text {
  font-size: 0.9em;
  font-family: Graphik;
  text-align: left;
  color: black
}

/* finding app text */
#finding-text {
  font-size: 0.9em;
  font-family: Graphik;
  text-align: left;
  color: black
}


/* bold app text */
#bold-text {
  font-size: 0.9em;
  font-family: Graphik;
  font-weight: bold;
  text-align: center;
  color: black
}

/* note app text */
#note-text {
  font-size: .7em;
  font-family: Graphik;
  font-weight: regular;
  font-style: italic;
  text-align: left;
  color: black
}




/******************************************************************************/
/* Tooltips
/******************************************************************************/

/* tool tip settings for robina institute prison sentencing system */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}









/******************************************************************************/
/* Section sizes and settings
/******************************************************************************/




.citation-section {
  max-width: 750px;
  min-height: 100px;
  margin: 0 auto;
  font-size: 0.8em;
  font-family: Graphik;
  text-align: left;
  color: black
}



#visualization{
  margin-top: 0em;
  margin-bottom: 0;
  padding: 0px;
}

/* center reatable table on page */
.table-container {
  min-width: 700px;
  display: flex;
  justify-content: center;
}


