/* css styles */

/* add fonts*/
@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/Graphik.ttf");
  }
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/GraphikBold.ttf");
  font-weight: bold;
}

html,
body {
  font-family: 'Graphik', sans-serif;
  color: #3E4B4B!important;
}

/* remove rounded edges everything */
  * {
    border-radius: 0!important;
  }

/* change border color of drop down menu */
  .dropdown-menu {
    border-color: #00aba0;
  }

/* change border color of drop down menu when hovered*/
  .dropdown-menu li a:hover {
    border-color: #00aba0;
  }

/* NAVBAR CSS */

  .navbar {
    background-color: #00aba0; /* change background color */
      color: #fff; /* change font color */
      border-radius: 0; /* remove border radius */
      height: 60px; /* change height */
  }

.navbar-brand {
  font-size: 24px; /* change font size */
    color: #fff; /* change font color */
    font-weight: bold; /* change font weight */
}

/*
  .navbar-nav {
    margin-right: 0;  remove right margin
  }
*/
  /*
  .navbar-nav li {
    padding: 0 15px;  change padding
  }*/

  .navbar-nav li a {
    color: #fff; /* change font color */
      font-size: 18px; /* change font size */
  }

.navbar-nav li a:hover {
  background-color: #00aba0; /* change background color on hover */
    color: #fff; /* change font color on hover */
}

.dropdown-menu {
  background-color: #00aba0; /* change background color */
}

.dropdown-menu li a {
  color: #fff; /* change font color */
    font-size: 18px; /* change font size */
}

.dropdown-menu li a:hover {
  background-color: #00aba0; /* change background color on hover */
    color: #fff; /* change font color on hover */
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #00aba0; /* change active background color */
    color: #fff; /* change active font color */
}

