
/******************************************************************************/
/* Overview */
/******************************************************************************/

/* html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
*/
/* These styles are commented out. If enabled, they would remove the margin and padding of the entire page and hide scrollbars */

/*
#main-content {
  overflow-y: auto;
}
*/
/* Commented out, but if enabled, this would allow vertical scrolling in the main content area */


/* Body section styling */
body {
  width: 100vw; /* Adjusts to full viewport width */
  max-width: 900px; /* Sets maximum width for content */
  margin: 0 auto; /* Centers the content horizontally */
  line-height: 1.6; /* Improves readability */
  padding: 0; /* Removes padding */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

#state-body-section {
  max-width: 750px; /* Sets maximum width for this section */
  margin: 0 auto; /* Centers the content horizontally */
  line-height: 1.6; /* Improves readability */
  padding: 0; /* Removes padding */
}

/*
@media (max-width: 768px) {

  .nav-tabs {
    display: block;
    width: 100%;
  }

  .nav-tabs .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-tabs .nav-link {
    width: 100%;
    text-align: center;
  }
}
*/


/* Container styling */
.container {
  width: 100%; /* Sets container to full width */
  max-width: 900px; /* Sets a maximum width for the content */
  margin: 0 auto; /* Centers the container */
  padding: 0 15px; /* Adds padding to the sides */
}


/* Removes rounded edges from all elements */
* {
  border-radius: 0!important; /* Ensures no element has rounded corners */
}




/* .download-button {
  font-family: "Graphik";
  font-size: 1em;
  padding: 4px 8px;
}*/


.download-button {
  font-family: "Graphik";
  font-size: 0.7em;
  padding: 4px 8px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 0px;
  text-decoration: none; /* Removes underline */
  display: inline-block; /* Makes it look like a button */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin-top: 10px;
}

/* Hide icon of download button */
.download-button i,
.download-button svg {
  display: none !important;
}

/* Download button hover - keep for now
.download-button:hover {
  background-color: #d97d68;
  color: black;
}*/


/* Ensures code blocks are responsive on smaller screens */
pre {
  white-space: pre-wrap;       /* Allows code blocks to wrap to fit the screen */
  white-space: -moz-pre-wrap;  /* Firefox support */
  white-space: -pre-wrap;      /* Older Opera support */
  white-space: -o-pre-wrap;    /* Opera 7 support */
  word-wrap: break-word;       /* Internet Explorer support */
}

/* Import Graphik from Google Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');*/

/* Import Graphik font from local files */
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/Graphik.ttf");
}
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/GraphikBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Wee People";
  src: local('Wee People'), url("fonts/weepeople.ttf");
  font-weight: bold;
}

/* Global font and color styling */
html,
body {
  font-family: 'Graphik', sans-serif; /* Applies Graphik font globally */
  color: black!important; /* Forces text color to be black */
  /* background-color: lightblue; */ /* Commented out background color */
}




/******************************************************************************/
/* Headers */
/******************************************************************************/

/* Hides anchor elements that might automatically appear with headers */
h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor {
  display: none !important;
}

/* Header styling */
h3, h4, h5, h6 {
  text-align: center; /* Centers text */
  border-bottom: 1px solid white; /* Adds a white bottom border */
  font-weight: bold; /* Makes the text bold */
  letter-spacing: 0.02em; /* Slightly increases spacing between letters */
}

h1 {
  text-align: center; /* Centers text */
  font-size: 2.8em; /* Increases font size */
  border-bottom: 1px solid white; /* Adds a white bottom border */
  font-weight: bold; /* Makes the text bold */
  letter-spacing: 0.02em; /* Slightly increases letter spacing */
}

h2 {
  text-align: center; /* Centers text */
  font-size: 1.75em; /* Increases font size */
  border-bottom: 1px solid white; /* Adds a white bottom border */
  font-weight: bold; /* Makes text bold */
  letter-spacing: 0.02em; /* Increases letter spacing */
}

/* Divider styling */
.divider {
  border-bottom: 3px solid black; /* Adds a solid black border as a divider */
}

.transparentdivider {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid white; /* Adds a transparent divider */
}







/******************************************************************************/
/* Tables */
/******************************************************************************/

/* Responsive image styling */
img {
  max-width: 100%; /* Ensures images don’t overflow the container */
  height: auto; /* Scales height proportionally */
}

/* Table styling */
table {
  width: 100%; /* Tables take up full width */
  border-collapse: collapse; /* Removes spaces between table borders */
  margin-bottom: 1em; /* Adds margin below tables */
}

table th, table td {
  padding: 0.5em; /* Adds padding inside cells */
  border: 1px solid #969696; /* Adds a solid border around cells */
  text-align: left; /* Aligns text inside cells to the left */
}





/******************************************************************************/
/* Tabs */
/******************************************************************************/

/* Tab content styling */
.tab-content {
  border: none; /* Removes borders around tabs */
}

.navbar {
  background-color: #006eac; /* Sets the background color of the navbar */
}

/* Active state for tab links */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white; /* Sets text color to white when active */
  background-color: #d97d68; /* Sets active tab background color */
}

/* Default state for tab links */
.nav-pills .nav-link {
  color: black; /* Default tab text color */
  background-color: #d7d7d7; /* Default background color for tabs */
}

/* Flexbox properties for tabs */
.nav-tabs {
  display: flex; /* Uses flexbox layout */
  border-bottom: 1px solid white; /* Adds bottom border to tab container */
  justify-content: space-between; /* Spaces tabs evenly */
  text-align: center; /* Centers text inside tabs */
  font-family: 'Graphik', sans-serif; /* Applies Graphik font */
  width: 100%; /* Ensures tabs take full width */
}

.nav-tabs .nav-item {
  flex: 1; /* Ensures each tab takes equal space */
  text-align: center; /* Centers text in tabs */
}

.nav-tabs .nav-link {
  display: block; /* Makes link a block element */
  width: 100%; /* Ensures it takes full width of tab */
  margin: 0; /* Removes margin */
  border: 1px solid white; /* Adds white border around tabs */
  box-sizing: border-box; /* Includes padding and border in element width/height */
}

/* Custom tabs - Do not take up the entire width */
.custom-tabs .nav-tabs {
  display: inline-flex; /* Uses inline-flex for reduced width */
  justify-content: center; /* Centers tabs */
  width: auto; /* Tabs only take up necessary space */
  margin: 0 auto; /* Centers tab container */
}

.custom-tabs .nav-item {
  flex: none;
}

.custom-tabs .nav-link {
  display: flex;
  justify-content: center; /* Centers text in tabs */
  align-items: center;
  height: 30px; /* Sets tab height */
  width: 200px; /* Sets tab width */
  font-size: 0.8em; /* Reduces font size */
}

.custom-tabs .nav-link.active, .custom-tabs .show>.nav-link {
  color: #fff; /* White text when active */
  background-color: #969696; /* Active background color */
}

/* Custom display tabs with reduced width */
.custom-tabs-disp .nav-tabs {
  display: inline-flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}

.custom-tabs-disp .nav-item {
  flex: none;
}

.custom-tabs-disp .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 200px;
  font-size: 0.8em;
}

.custom-tabs-disp .nav-link.active, .custom-tabs-disp .show>.nav-link {
  color: #fff;
  background-color: #969696;
}



/******************************************************************************/
/* Sections */
/******************************************************************************/

#visualization {
  margin: 0 auto; /* Centers visualization container */
  text-align: center; /* Centers text inside */
}

#small-visualization {
  margin: 0 auto; /* Centers container */
  text-align: center; /* Centers text inside */
  margin-left: 100px; /* Adds left margin */
  margin-right: 100px; /* Adds right margin */
}

/* For small screens (less than 600px wide) */
/* Don't make small visualization small when the screen is small */
@media only screen and (max-width: 600px) {
  #small-visualization {
    margin-left: 0;
    margin-right: 0;
  }
}

#highlight-visualization {
  margin: 0 auto; /* Centers visualization container */
  text-align: center; /* Centers text inside */
}

#map-section {
  max-width: 1200px; /* Sets max width for map section */
  margin: 0 auto; /* Centers map container */
  text-align: left; /* Left-aligns text inside */
  margin-left: -10px; /* Aligns with other content */
}

/* Highlighted text styles */
#highlight-text {
  font-size: 2.2em; /* Large font size for highlighted text */
  font-family: 'Graphik', sans-serif; /* Uses Graphik font */
  font-weight: bold; /* Makes text bold */
  color: #49a7a1; /* Sets text color */
  text-align: center; /* Centers text */
  margin-bottom: -5px; /* Reduces space below */
}

#national-highlight {
  font-size: 2.2em;
  font-family: 'Graphik', sans-serif;
  font-weight: bold;
  color: #49a7a1;
}

#bold-text {
  font-size: 1em;
  font-family: 'Graphik', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.01em;
}

#footnotes-text {
  font-size: 0.7em;
  font-family: 'Graphik', sans-serif;
  text-align: left;
  color: black;
}

#sourcenotes-text {
  font-size: 0.6em;
  font-family: 'Graphik', sans-serif;
  text-align: center;
  color: #55555;
}

#rri_sourcenotes-text {
  font-size: 0.6em;
  font-family: 'Graphik', sans-serif;
  text-align: left;
  color: #55555;
}


#asterisk-section {
  font-size: 0.8em;
  color: black;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
}

/* Specific styles for demographic text */
.black-non-hispanic {
  color: #49a7a1;
  font-weight: bold;
}

.hispanic {
  color: #55b4e5;
  font-weight: bold;
}
