/* Specific style for .tab2 tabs */
.tab2 .nav-link {
    font-size: .9em;
    color: black;
    background-color: #e0e0e0; /* Default background color */
    padding-bottom: 0.1em;
    text-align: center;
    display: inline-block; /* Ensure the tabs take only the necessary space */
    width: 150px; /* Set a specific width for each tab */
}

.tab2 .nav-link.active, .tab2 .show>.nav-link {
    color: #fff;
    background-color: #969696;
    border: 1px solid #969696;
    font-size: .9em;
    padding-bottom: 0.1em;
    text-align: center;
    display: inline-block; /* Ensure the tabs take only the necessary space */
}

/* Adjust the height of tab content if necessary */
.tab2 .tab-content .tab-pane {
    height: auto; /* Set height to auto or a specific value */
}
