
/* remove line under tabs */
#tabsetpanel {
  border-bottom: 1px solid #fff;
}

/* tool tip settings for robina institute prison sentencing system */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/**********************************************/

/* tabset panel settings */

/**********************************************/

/* tabset panel basic settings */
.nav-tabs {
  background-color: #fff; /* color across entire bar instead of tab items*/
  text-align:center;
  font-size: 0.75em;
  font-family: Graphik;
  padding-top: 1em; /* add padding to top */
  padding-bottom: 0.5em;
}

/* spacing between menu items */
.nav-tabs > li {
  background-color: #fff;
  float: none;
  display: inline-block; /* maintains horizontal tab structure */
  padding: 0px 14px; /* changes spacing between tabpanels */
  font-family: Graphik;
}

/* make boxes/background color around text of tabs */
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.6; /* height of tab panel buttons */
  background-color: #F4F6F8;
  color: #3E4B4B;
  font-family: Graphik;
  padding: .85em 2.5em; /* add more padding around the text */
  text-decoration: none; /* remove underline */
}

.tab-content {
  padding-top: 1em; /* add padding to move content down */
  border: none; /* remove border around box */
}

/* Styling for selected tab */
.nav-tabs>li>a,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: #3E4B4B;
  color: #fff;
}

/* Remove styling when tab is not selected */
.nav-tabs>li>a:not(.active) {
  background-color: #F4F6F8;
  color: #3E4B4B;
}

/* Add horizontal line underneath the tabs */
.nav-tabs::after {
  content: "";
  display: table;
  clear: both;
  border-bottom: 1px solid #3E4B4B;
  margin-bottom: 10px;
}


/**********************************************/

/* navbar settings */

/**********************************************/

/* change border color of drop down menu */
.dropdown-menu {
  border-color: #00aba0;
}

/* change border color of drop down menu when hovered*/
.dropdown-menu li a:hover {
  border-color: #00aba0;
}

.navbar {
  background-color: #3E4B4B; /* change background color */
  color: #fff; /* change font color */
  border-radius: 0; /* remove border radius */
  height: 60px; /* change height */
  font-size: 1em; /* change font size */
}

.navbar-brand {
  font-size: 1.2em; /* change font size */
  color: #fff; /* change font color */
  font-weight: bold; /* change font weight */
}

.navbar-nav li {
  /*padding: 0 15px;  change padding*/
    padding-right: 0.5em; /* add padding to the right of each list item */
    padding-left: 0.5em; /* add padding to the left of each list item */
}

.navbar-nav li a {
  color: #fff; /* change font color */
  font-size: 1em; /* change font size */
}

.navbar-nav li a:hover {
  background-color: #00aba0; /* change background color on hover */
  color: #fff; /* change font color on hover */
}

.navbar-nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0.6em;
  min-width: 200px;
  /*margin-top: 0.5rem; adjust as needed */
}

.dropdown-menu {
  background-color: #00aba0; /* change background color */
}

.dropdown-menu li a {
  color: #fff; /* change font color */
    font-size: 1em; /* change font size */
}

.dropdown-menu li a:hover {
  background-color: #00aba0; /* change background color on hover */
    color: #fff; /* change font color on hover */
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #00aba0; /* change active background color */
    color: #fff; /* change active font color */
}





/**********************************************/

/* page settings */

/**********************************************/

body {
  max-width: 1200px; /* set the maximum width */
  margin: 0 auto; /* center the content horizontally */
}

/* add fonts*/
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/Graphik.ttf");
}
@font-face {
  font-family: "Graphik";
  src: local('Graphik'), url("fonts/GraphikBold.ttf");
  font-weight: bold;
}


/* remove rounded edges everything */
*{
  border-radius: 0!important;
}

/* change font throughout website */
html,
body {
  font-family: 'Graphik', sans-serif;
  color: #3E4B4B!important;
}

.narrow-section {
  max-width: 750px;
  min-height: 100px;
  margin: 0 auto;
}

.less-narrow-section {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1em;
}

.highlight-section {
  max-width: 400px;
  max-height: 100px;
  margin: 0 auto;
}








/**********************************************/

/* text styling */

/**********************************************/

/* title of website pages */
.title {
  font-size: 2.5em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B;
}


/* title of website tabs */
#section-title {
  font-size: 1em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B;
}

/* title of section under tabs */
#big-section-title {
  font-size: 1.8em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#medium-section-title {
  font-size: 1em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B;
}


#graph-title {
  font-size: 1.5em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B;
}


/* text underneath state and national trends highlighting findings */
#important-text {
  font-size: 1em; /* change font size */
  font-family: Graphik; /* change font family */
  text-align: center;
  color: #3E4B4B;
}

/* highlighted text underneath state name*/
#highlight-text {
  font-size: 2.5em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  color: teal;
}

/* regular app text */
#regular-text {
  font-size: 0.9em; /* change font size */
  font-family: Graphik; /* change font family */
  text-align: left;
  color: #3E4B4B
}

/* bold app text */
#bold-text {
  font-size: 0.8em; /* change font size */
  font-family: Graphik; /* change font family */
  font-weight: bold; /* change font weight */
  text-align: center;
  color: #3E4B4B
}

/* footnote */
#footnote {
  color: #3E4B4B;
  text-align: left;
  font-style: italic;
  font-size: 0.6em;
  font-family: Graphik;
}






/**********************************************/

/* styling for tables and graphs */

/**********************************************/

#first-graph{
  margin-top: 0em;
  margin-bottom: 0;
  padding: 0px;
}

#bar-graph{
  margin-top: 0em;
  margin-bottom: 0;
  padding: 0px;
}

#line-graph{
  margin-top: 0em;
  margin-bottom: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
}

#pie-chart{

}

#reactable-table{
 /* display: flex;
  flex-direction: column; */
  align-items: center;
}

/* center table on page */
.table-container {
  display: flex;
  justify-content: center;
}

/**********************************************/

/* columns settings */

/**********************************************/

/* allowing flexible positioning and alignment
   specifies that the main axis runs horizontally from left to right
   aligns the items at the start of the cross-axis, which means they will be
   aligned to the top of the container
*/
#column1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; /* Adjust the justify-content property */
}

/* main axis runs vertically
*/
#column2{
  flex: 1; margin-left: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#body-section{
  max-width: 700px;
  margin: 0 auto; /* center the content horizontally */
}

#graph-section{
  max-width: 400px;
  margin: 0 auto; /* center the content horizontally */
}

#tabsetpanel{
  margin: 0 auto; /* center the content horizontally */
  justify-content: center;
}

.panel-tabset .nav-item {
  margin: 0 auto;
  justify-content: center;
  background-color: #fff;
  font-size: 1em;
  font-family: Graphik;
  font-weight: bold;
  color: #3E4B4B;
  border: none;
  margin-bottom: -5px;
}

/* highlights at the top of state report */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px; /* Adjust the gap value as per your preference */
}

